@*@model EpamWebApp1.Models.Article*@

@model EpamWebApp1.Models.Voiting


@{
    ViewBag.Title = "Home Page";
}


<body>
    <div class="main-body">
        @for (var i = 0; i < @ViewBag.Article.Count; i++)
        {
            <div class="article">
                <p style="font-size:30px;">" @ViewBag.Article[i].Name </p><p>      @ViewBag.Article[i].date</p>
                <p class="articleText">@ViewBag.Article[i].ArticleText </p>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("More", "Details", "Article", new { id = ViewBag.Article[i].ArticleId }, new { target = "_blank", @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="right-sidebar">
        <p>
            @Html.ActionLink("Main", "Index")
        </p>
        <p>
            @Html.ActionLink("GuestList", "../Guest/Guest")
        </p>
        <p>
            @Html.ActionLink("Profile", "../Profile/ProfileList")
        </p>
        <p>
            @Html.ActionLink("Voiting", "../Profile/ProfileList")
        </p>

        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <p>Сериал или Фильм?)</p>
            @Html.Name("Сериалы")
            @Html.RadioButtonFor(modl => modl.Choice, "S")
            @Html.Name("Фильмы")
            @Html.RadioButtonFor(modl => modl.Choice, "F")


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        }
        </div>
</body>

