@*@model EpamWebApp1.Models.Article*@
   


@{
    ViewBag.Title = "Home Page";
}


<body>
    <div class="main-body">
        @for (var i = 0; i < @ViewBag.Article.Count ; i++)
        {
            <div class="article">
                <p style="font-size:30px;">" @ViewBag.Article[0].Name </p><p>      @ViewBag.Article[0].date</p>
                <p class="articleText">@ViewBag.Article[0].ArticleText </p>
            </div>
        }
    </div>
    <div class="right-sidebar">
        <p>
            @Html.ActionLink("Main", "Index")
        </p>
        <p>
            @Html.ActionLink("GuestList", "../Guest/Guest")
        </p>
        <p>
            @Html.ActionLink("Profile", "../Profile/ProfileList")
        </p>
    </div>
</body>

